<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Panel</title>
        
        <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

        <!--CSS styles-->
        <!--<link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/perfect-scrollbar-0.4.5.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
		<link id="theme-style" rel="stylesheet" href="css/styles/default.css">-->
        <link rel="stylesheet" href="C:/wamp/www/bits/css/style5.css">
		<link rel="stylesheet" href="C:/wamp/www/bits/css/style4.css">
        
		
		
		
        <!--/CSS styles-->
        <!--Javascript files
        <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="js/TweenMax.min.js"></script>
        <script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
        <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        
        <script type="text/javascript" src="js/modernizr.custom.63321.js"></script>
        <script type="text/javascript" src="js/jquery.dropdownit.js"></script>

        <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
        <script type="text/javascript" src="js/ScrollToPlugin.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.min.js"></script>

        <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

        <script type="text/javascript" src="js/masonry.min.js"></script>

        <script type="text/javascript" src="js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

        <script type="text/javascript" src="js/magnific-popup.js"></script>
        <script type="text/javascript" src="js/custom.js"></script>-->

        <!--/Javascript files-->


        <!--Custom Styles for demo only-->
        <link rel="stylesheet" href="custom-style.css">
        <script type="text/javascript" src="custom-style.js"></script>
        <!--/Custom Styles-->

</head>
    <body>

        <div id="wrapper">
            <a href="#sidebar" class="mobilemenu"><i class="icon-reorder"></i></a>

            <div id="sidebar">
                <div id="main-nav">
                    <div id="nav-container">
                        <div id="profile" class="clearfix">
                            <div><img src="" height="125" width="125"></div>
                            <div class="title">
                                <h2>Admin</h2>
                                
                            </div>
                            
                        </div>
                        <ul id="navigation">
                            <li>
                              <a href="#center">
                                <div class="icon icon-user"></div>
                                <div class="text">Add Center </div>
                              </a>
                            </li>  
                            
                            <li>
                              <a href="#addemployee">
                                <div class="icon icon-book"></div>
                                <div class="text">Add employee </div>
                              </a>
                            </li> 
                            
                            <li>
                              <a href="#Datetime">
                                <div class="icon icon-edit"></div>
                                <div class="text">Date and time</div>
                              </a>
                            </li> 

                            <li>
                              <a href="logout">
                                <div class="icon icon-time"></div>
                                <div class="text">
								<a href="home/logout">logout </a>
								
								</div>
                              </a>
                            </li>

                            
                        </ul>
                    </div>        
                </div>
              
			<div id="main">
            
                <div id="biography" class="page home" data-pos="home">
                    <div class="pageheader">
                        <div class="headercontent">
                            <div class="section-container">
                                
                                <div class="row">
								<div class = "addcenter">
								<h1 align="center" > ADD CENTER </h1>
								</div> 
								<form >
																			<div class="register" id="a">
																			<input type="text" class="register-input" placeholder="Emp name" maxlength="15" required>
																			<input type="text" class="register-input" placeholder="City" maxlength="10" required>
																			<input type="submit" value="Add emp" class="register-button">
																		 </div>
																		   
																		 </form>
								
								
                                </div>
                            </div>        
                        </div>
                    </div>

                    <div class="pagecontents">
                        <div class="section color-1">
                            <div class="section-container">
                                <div class="row">
										<form >
												<div class="register" id="a">
												<input type="text" class="register-input" placeholder="Emp name" maxlength="15" required>
												<input type="text" class="register-input" placeholder="City" maxlength="10" required>
												<input type="submit" value="Add emp" class="register-button">
												</div>
																		   
										</form>
								     </div>    
                            </div>
                                
                        </div>

                        </div>                            
                    </div>
                </div>
				
				<!--research-->
				
                <!--publications-->
				
				<!--teaching-->
				
				<!--gallery-->
                
				<!--contact-->
			</div>
        </div>

    </body>
</html>